.div{
    display: block;
    border: 1px solid #000;
    margin: 20px;
    height: auto;
    width: 100vw;
}

.image{
    display: inline-block;
    border: 1px solid #000;
    position: relative;
    top: 0px;
    height: 400px;
}

.text{
    display: inline-block;
    position: relative;
    border: 1px solid #000;
    top: -180px;
    left: 0vw;
    height: 400px;
}

.aaa{
    color: red;
}





